<div class="player col player-{{player.id}}">
  <h2 class="title">Jogador 0{{player.id}}</h2>



  <div class="life-bar progress-{{player.life}}">
    <div class="life-bar-progress"></div>
    <p class="life"><i class="fa fa-heartbeat" aria-hidden="true"></i> <span>{{player.life}}%</span></p>
  </div>

  <div class="player-animation">

    <img src="assets/images/players/{{player.id}}/{{currentAnimation}}/{{positionAnimation}}.png">

  </div>

  <button class="btn btn-primary" [disabled]="gameOver" (click)="hitRival()"><i class="fa fa-bolt" aria-hidden="true"></i> Atacar</button>
</div>
