<section class="game" style="background: url('../../../../assets/images/background.jpg')">

  <app-container>

    <app-row>

      <app-player [player]=player1 (hitRivalPlayer)="playerOneHit()" [gameOver]=gameOver></app-player>

      <app-player [player]=player2 (hitRivalPlayer)="playerTwoHit()" [gameOver]=gameOver></app-player>

    </app-row>

    <app-row>
      <button class="btn btn-success" (click)="restartGame()"><i class="fa fa-undo" aria-hidden="true"></i> Reiniciar</button>
    </app-row>

  </app-container>

  <app-modal [showModal]=gameOver [playerLoser]=playerLoser></app-modal>

</section>
